<head>
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7;margin:10% min-height:300px') }}
</head>
{% extends 'base.html' %}
{% block title %}登录{% endblock title %}
{% block styles %}
    {{ super() }}
    <!-- url_for函数，加载静态文件-->
    <link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>

{% endblock styles %}
{% block navli %}
    <ul class="nav navbar-nav navbar-right">
        {% if session.is_login %}
            <li><a href="/">您好！{{ session.name }}</a></li>
            <li><a href="/logout">退出</a><li>
            {% else %}
            <li><a href="/">您好！</a></li>
            <li class="active"><a href="#">登录</a></li>
            <li><a href="/register">注册</a></li>
        {% endif %}
    </ul>
{% endblock navli %}
{% block content %}
    <div class="container form-login">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

    <div>
<h4 style="text-align: center" >请以文本文件进行上传所有想要计算的关联规则，文件内容仅为一行关联规则，多个项目间以逗号分隔，规则与规则之间以空格分隔。如:32,38,39->41,48 38,39,40->41,43</h4>
{{ dropzone.load_js() }}
{{ dropzone.create(action='/calculateEncryption',method='post') }}
    </div>
{#    <form action="/calculateEncryption" method="post" class="form-login" style="max-width: 500px;padding: 15px;margin: 0 auto;">#}
{#        <p>输入您想计算的商品关联规则</p>#}
{#        <div align="center" style="float:left">#}
{#        <input class="form-control" name="product_1"  placeholder="输入商品_1 id" required>#}
{#        </div>#}
{#        <div align="center" style="float:left">#}
{#        <h4>→</h4>#}
{#            </div>#}
{#        <div align="center" style="float:left">#}
{#        <input class="form-control" name="product_2"  placeholder="输入商品_2 id" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <button  id='btn1'type="submit" class="btn btn-primary pull-right">提交</button>#}
{#        </div>#}
        <table data-toggle="table">
            <thead>
            <th>已有的关联规则</th>
            </thead>
            <tbody>
              <meta charset="UTF-8">
              {% for rule in ruleList %}
                <tr>
                    <td>{{ rule }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    <a href="/all_result">
    <input type="button" value="用自己的安全参数计算关联规则" class="btn btn-lg btn-primary btn-block">
    </a>

    </form>
{%  endblock %}

