{% extends 'sierra/base.html' %}
{% block title %}Upload{% endblock title %}

{% block extraCSS %}
<link rel="stylesheet" href="static/css/checkboxUtil.css"/>
{% endblock %}

{% block content %}

<!--================Get in Touch Area =================-->
<section class="get_in_touch_area p_100">
    <div class="container">
        <div class="row get_touch_inner">
            <div class="col-lg-6">
			    <div class="container form-login col-lg-6">
			        {% for message in get_flashed_messages() %}
			            <div class="alert alert-warning">
			                <button type="button" class="close" data-dismiss="alert">&times;</button>
			                {{ message }}
			            </div>
			        {% endfor %}
			    </div>
            <img src="{{ img_path }}" style="width: 400px;height: 400px;">
            </div>
            <div class="col-lg-6">
			    <div class="touch_details">
			        <div >
			            <img src="static/img/icon/title-icon.png" alt="">
			            <h3>Please select your description</h3>
			        </div>
			    </div>
                <!--
                <div class="card">
                    
                    <form name="choice" action="setTrainLabel" method='POST'>
                        {% for label in label_list %}
                            <div class="checkbox-container">
                                <label class="checkbox-label">
                                    <input type="checkbox" name="selected_label_after" value={{ label }}>
                                    <span class="checkbox-custom rectangular"></span>
                                </label>
                                <div class="input-title">{{ label }}</div>
                            </div>
                        {% endfor %}
                        <div class="checkbox-container">
                            <input type="submit" value="Commit" class="btn btn-primary"></input>
                        </div>
                    </form>
                </div>
                -->
                <div class="container">                
                        <form name="choice" action="setTrainLabel" method='POST'>
                            {% for label in label_list %}
                                <button type="submit" value={{ label }} class="btn submit_btn form-control" name="selected_label_after">{{ label }}</button>
                            {% endfor %}
                        </form>
                </div>                
			</div>
        </div>
    </div>
</section>

{% endblock %}