<head>
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%') }}
</head>
{% extends 'sierra/base.html' %}
{% block title %}Upload{% endblock title %}

{% block content %}

<!--================Get in Touch Area =================-->
<section class="get_in_touch_area p_100">
    <div class="container">
        <div class="row get_touch_inner">
		    <div class="container form-login col-lg-6">
		        {% for message in get_flashed_messages() %}
		            <div class="alert alert-warning">
		                <button type="button" class="close" data-dismiss="alert">&times;</button>
		                {{ message }}
		            </div>
		        {% endfor %}				
		    	<h2 style="text-align: center">Please upload data file here</h2>
				{{ dropzone.load_js() }}
				{{ dropzone.create(action='/upload',method='POST') }}
				<div class="container">
				    <div class="touch_details">
				    	<a class="more_btn" href="navigateTrain">Train</a>
				    	<a class="more_btn" href="navigateTest">Test</a>
				    </div>
				</div>
				<!--<div class="container">
					<a class="more_btn" href="home">Cancel</a>
				</div>	-->
		    </div>
        </div>
    </div>
</section>

{% endblock %}
